/* GENERAL STUFF */

* { box-sizing: border-box; }

body {
  font-family: "Arial", sans-serif;
  background: snow;
  color: black;
  font-size: 12px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  text-align: center;
}

a img { border: none; background: none; }

h1, h2, h3 { font-weight: normal; }
h2, h3 { display: inline; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img { max-width: 100%; }


/* BULLETED LISTS */

ul.bullets { margin-top: 0; }
ul.bullets li { list-style-type: circle; list-style: inside; }


/* HOME */

h1 {
  text-align: center;
  font-size: 12px;
  margin-bottom: 64px;
}

.home-project {
  margin-bottom: 64px !important;
}

.home-project:first-child {
  margin-top: 64px;
}

img.rhizome {
  width: 700px;
}

img.perfume-poster,
img.frog,
img.sushi,
img.mm-app {
  width: 1000px;
}

img.bug,
img.art-handler,
img.friends,
img.do-you-follow,
img.economy,
img.perfume-bookmarks,
img.rhizome-event {
  width: 1300px;
}

.metadata {
  margin-top: 12px;
  text-align: center;
}

.metadata div {
  display: inline;
}

.title {
  color: red;
}

.type {
  color: forestgreen;
}

.year {
  color: #b19a98;
}

.credits {
  color: #b19a98;
  opacity: 0.7;
}

a,
.link a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
.link a:hover {
  text-decoration: none;
  cursor: pointer;
}


/* PROJECT PAGE */

body.project {
  text-align: left;
}

#project-essay {
  margin-top: 32px;
  margin-bottom: 64px;
  width: 1100px;
  text-align: left;
}

#project-essay p {
  max-width: 640px;
  font-size: 21px;
  line-height: 1.2;
  font-family: Times New Roman, serif;
}


/* BOUNCER */

#bouncer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#bouncer {
  z-index:10;
  position:absolute;
  top:200px;
  left:860px;
}


/* FORMS (for mailing list) */

    
textarea, input { outline: none; -webkit-appearance: none; border-radius: 0; }

input {
  font-size: 1em;
  color: black;
}

input#mce-EMAIL {
  background: white;
  border: 1px solid #b19a98;
  margin: 0 0 0.25em;
  border-radius: 2px;
}

#mc_embed_signup input.mce_inline_error {
  border: 1px solid #b19a98 !important;
}

#mc_embed_signup input.mce_inline_error {
  border-color: #b19a98 !important;
}

div.mce_inline_error {
  color: red !important;
  background: snow !important;
  font-weight: normal !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0.25em 0 0.5em !important;
}

#mc_embed_signup input.mce_inline_error {
  border: 1px solid #ff2c39 !important;
}

#mce-success-response {
  margin-bottom: 0.75em;
}


/* MEDIA QUERIES */

    
@media screen and (max-width: 1228px) {

  body {
    margin: 0px;
  }

  #project-essay {
    width: 900px;
    padding: 8px;
  }

}

@media screen and (max-width: 900px) {

  #project-wrapper {
    width: 100%;
  }

  #project-essay {
    max-width: 100%;
  }

}