/* BASE
--------------------------------------------------------- */

body {
	margin: 32px;
	font-family: Verdana;
	font-size: 21px;
	line-height: 1.3;
	background:rgb(181, 148, 103);
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}

ul {
	padding-left: 0.9em;
}

a {
	text-decoration: none;
	color: #000;
}


/* HOME
--------------------------------------------------------- */

#plugins {
	position: absolute;
	top: 32px;
	left: 32px;
	right: 32px;
	text-align: center;
	font-style: italic;
	z-index: -1;
}

#house {
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
	text-align: center;
	z-index: -1;
}

#weather-condition {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 2;
}

#weather-report {
	position: absolute;
	bottom: 35px;
	left: 32px;
	right: 32px;
	text-align: center;
	z-index: 3;
}

.current-condition {
	text-transform: lowercase;
}

.c-tornado { background: url('../images/rain.gif'); }
.c-tropical-storm { background: url('../images/rain.gif'); }
.c-hurricane { background: url('../images/rain.gif'); }
.c-severe-thunderstorms { background: url('../images/rain.gif'); }
.c-thunderstorms { background: url('../images/rain.gif'); }
.c-mixed-rain-and-snow { background: url('../images/rain.gif'); }
.c-mixed-rain-and-sleet { background: url('../images/rain.gif'); }
.c-mixed-snow-and-sleet { background: url('../images/rain.gif'); }
.c-freezing-drizzle { background: url('../images/rain.gif'); }
.c-drizzle { background: url('../images/rain.gif'); }
.c-freezing-rain { background: url('../images/rain.gif'); }
.c-showers-1 { background: url('../images/rain.gif'); }
.c-showers-2 { background: url('../images/rain.gif'); }
.c-snow-flurries { background: url('../images/rain.gif'); }
.c-light-snow-showers { background: url('../images/rain.gif'); }
.c-blowing-snow { background: url('../images/rain.gif'); }
.c-snow { background: url('../images/rain.gif'); }
.c-hail { background: url('../images/rain.gif'); }
.c-sleet { background: url('../images/rain.gif'); }
.c-dust { background: url('../images/rain.gif'); }
.c-foggy { background: url('../images/rain.gif'); }
.c-haze { background: url('../images/rain.gif'); }
.c-smoky { background: url('../images/rain.gif'); }
.c-blustery { background: url('../images/rain.gif'); }
.c-windy { background: url('../images/rain.gif'); }
.c-cold { background: url('../images/rain.gif'); }
.c-cloudy { background: url('../images/rain.gif'); }
.c-mostly-cloudy-night { background: url('../images/rain.gif'); }
.c-mostly-cloudy-day { background: url('../images/rain.gif'); }
.c-partly-cloudy-night { background: url('../images/rain.gif'); }
.c-partly-cloudy-day { background: url('../images/rain.gif'); }
.c-clear-night { background: url('../images/rain.gif'); }
.c-sunny { background: url('../images/rain.gif'); }
.c-fair-night { background: url('../images/rain.gif'); }
.c-fair-day { background: url('../images/rain.gif'); }
.c-mixed-rain-and-hail { background: url('../images/rain.gif'); }
.c-hot { background: url('../images/rain.gif'); }
.c-isolated-thunderstorms { background: url('../images/rain.gif'); }
.c-scattered-thunderstorms-1 { background: url('../images/rain.gif'); }
.c-scattered-thunderstorms-2 { background: url('../images/rain.gif'); }
.c-scattered-showers { background: url('../images/rain.gif'); }
.c-heavy-snow { background: url('../images/rain.gif'); }
.c-scattered-snow-showers { background: url('../images/rain.gif'); }
.c-heavy-snow { background: url('../images/rain.gif'); }
.c-partly-cloudy { background: url('../images/rain.gif'); }
.c-thundershowers { background: url('../images/rain.gif'); }
.c-snow-showers { background: url('../images/rain.gif'); }
.c-isolated-thundershowers { background: url('../images/rain.gif'); }
.c-not-available { background: url('../images/rain.gif'); }